.header-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-brand {
  margin-bottom: 20px;
}

.nav-sections ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-sections li {
  text-align: center;
}