/* General styling for hero section */
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

/* IMAGE + GRADIENT */
.hero.block > div:first-child {
  position: relative;
  flex: 0;
  width: 100%; /* Assure que l'image occupe l'espace */
  overflow: hidden;
}

/* Gradient au-dessus de l'image */
.hero.block > div:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none; /* Permet aux interactions de passer au travers */
  z-index: 2; /* Place le gradient au-dessus de l'image mais sous le texte */
}

/* Assure que l'image est bien visible */
.hero picture {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Place l'image sous le gradient */
}

.hero.block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bloc principal */
.hero.block {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

/* TITRES + ICONES */
.hero.block > div:nth-child(2) h4 {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Place l'icône à droite */
  color: #0073e6 !important;
  background-color: #FFF;
  border-bottom: solid;
  border-color: lightgray;
  padding: 30px 60px 30px 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Effet hover */
.hero.block > div:nth-child(2) h4:hover {
  background-color: #0073e6;
  color: white !important;
}

/* Icône SVG bien positionnée */
.hero.block > div:nth-child(2) h4 svg {
  margin-left: 10px;
  fill: currentColor !important;
  flex-shrink: 0;
}

/* Sections */
.hero.block > div:nth-child(2) {
  flex: 3;
  padding: 20px;
}

.hero.block > div:nth-child(3) {
  flex: 5;
  padding: 20px;
}

/* Autres styles */
.hero h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.hero h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.hero p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

.button-container {
  margin-top: 20px;
}

.button.button-primary {
  display: inline-block;
  background-color: #0073e6;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button.button-primary:hover {
  background-color: #005bb5;
}
